@import url(SourceSansPro.css);
@import url(bootstrap.min.css);
@import url(font-awesome.min.css);
* {
    margin: 0;
    padding: 0;
}

html {
    background: url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background: transparent;
}

body, input, button {
    font-family: 'Source Sans Pro', sans-serif;
}

.hour-list table {
    color: #ffffff;
}
.class-category {
    padding-left: 0px;
    font-size: 1.1em;
    font-weight: bold;
}
input.cumulative-category {
    margin-right: 0.5em;
}
input.cumulative-class {
    margin-left: 1em;
    margin-right: 0.5em;
}
.class-element {
    padding-left: 2.5em;
}
.admin {
    padding: 15px;
    width: 90%;
    min-height: 400px;
    margin: 2% auto 0 auto;
}
.admin .heading {
    text-align: center;
    margin-top: 1%;
}
.information {
    font-size: 1.5em;
    padding: 0.2em;
}
.positive {
    color: #00ff27;
}
.error {
    color: #ff0000;
}
.admin .heading h2 {
    font-size: 3em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    padding-bottom: 5px;
    text-shadow: 1px 1px 3px #23203b;
}
.laboratorioItem {
    border: 1px solid #ffffff;
    background-color: rgba(255, 255, 255, 0);
    padding: 0.3em;
    margin: 0.3em;
}
.intestation {
    font-size: 1.3em;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
}
.table-intestation {
    font-size: 1.0em;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
}
.field {
    width: 100%;
    color: #ffffff;
    background-color: rgba(255,255,255,0);
    border: none;
}
.laboratorio-detail {
    color: #ffffff;
    text-align: left;
}

.data {
    text-align: left;
    color: #ffffff;
    border-top: 1px solid #ffffff;
}
.data:last-of-type {
    border-bottom: 1px solid #ffffff;
}

.LaboratoriList {
    color: #ffffff;
    text-align: left;
}

.laboratorioItem-select {
    background-color: #ffffff !important;
    color: #000000 !important;
}

.plus-icon {
    margin-right: 0.5em;
}

.btn {
    margin-top: 20px;
    background: #27AE60;
    border: none;
    font-size: 1.6em;
    font-weight: 300;
    padding: 5px 0;
    width: 100%;
    border-radius: 3px;
    color: #b3eecc;
    border-bottom: 4px solid #1e8449;
}

.btn:hover {
    background: #30b166;
    -webkit-animation: hop 1s;
    animation: hop 1s;
}

.btn-disable {
    margin-top: 20px;
    background: #ea4848;
    border: none;
    font-size: 1.6em;
    font-weight: 300;
    padding: 5px 0;
    width: 100%;
    border-radius: 3px;
    color: #ffffff;
    border-bottom: 4px solid #ae2727;
    cursor: not-allowed;
}

.btn-logout {
    float: right;
    margin-top: 20px;
    background: #27AE60;
    border: none;
    font-size: 1.6em;
    font-weight: 300;
    padding: 5px 0;
    width: 20%;
    min-width: 10em;
    border-radius: 3px;
    color: #b3eecc;
    border-bottom: 4px solid #1e8449;
}

.btn-logout:hover {
    background: #30b166;
    -webkit-animation: hop 1s;
    animation: hop 1s;
}

.float {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
}

.float:hover, .float:focus, .float:active {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

.navigation-bar {
    overflow: auto;
    width: 100%;
    list-style: none;
    font-size: 13pt;
    clear: both;
}

.navigation-bar > li {
    color: #FFFFFF;
    width: 25%;
    padding-bottom: 1%;
    float: left;
    margin-bottom: 10px;
    cursor: pointer;
}

.select-nav {
    border-bottom: 3px #FFFFFF solid;
}

.container-toolbar {
    overflow: auto;
    width: 100%;
}

.toolbar {
    overflow: auto;
    list-style: none;
    width: 100%;
    text-align: left;
    float: left;
    font-size: 11pt;
}

.toolbar > li {
    color: #FFFFFF;
    float: left;
    cursor: pointer;
    text-align: left;
    margin: 2px;
    border: 1px solid #ffffff;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

.toolbar > li > i {
    padding-right: 4px;
}

.classi-table thead {
    color: #ffffff;
}

.classi-table th {
    border-left: 1px solid #ffffff;
}

.classi-table th:first-child {
    border-left: 0px;
}

.classi-table td {
    text-align: center;
    color: #ffffff;
    border-left: 1px solid #ffffff;
}

.classi-table td:first-child {
    border-left: 0px;
    text-align: left;
}

.table-message-central {
    text-align: center !important;
}

.modalDialog {
    opacity:1;
    pointer-events: auto;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99998;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    z-index: 99999;
    background: #fff;
}

.modalClose {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    float: right;
    padding: 5px 10px 5px 2px;
    height: 100%;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    padding-left: 0.4em;
    cursor: pointer;
}

.modalTop {
    border-bottom: 1px solid #a3a3a3;
    clear: both;
    overflow: auto;
}

.modalContent {
    padding: 10px 20px 13px 20px;
}

.modalTitle {
    color: #6f6f6f;
    font-weight: bold;
    float: left;
    padding: 5px 2px 5px 10px;
}

.no-round-border {
    border-radius: 0px !important;
}

.no-margin-top {
    margin-top: 0px !important;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
    .admin {
        width: 90%;
        font-size: 2em;
    }
}
@media only screen and (max-width: 1100px) {
    .admin {
        margin-top: 2%;
        width: 90%;
        font-size: 1.7em;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .admin {
        margin-top: 1%;
        width: 90%;
        font-size: 1.7em;
        min-height: 0;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .admin {
        margin-top: 0;
        width: 90%;
        font-size: 1.3em;
        min-height: 0;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .admin {
        margin-top: 0;
        width: 90%;
        font-size: 1em;
        min-height: 0;
    }
    .admin h2 {
        margin-top: 0;
    }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    .admin {
        margin-top: 0;
        width: 90%;
        font-size: 0.7em;
        min-height: 0;
    }
}