@import url(SourceSansPro.css);
@import url(bootstrap.min.css);
@import url(font-awesome.min.css);
* {
    margin: 0;
    padding: 0;
}

html {
    background: url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mancanti {
    margin-left: 0.2em;
    padding: 0.2em;
    color: #ffffff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.booking-green {
    background-color: #00ff4e;
}
.booking-yellow {
    background-color: #e8e800;
}
.booking-red {
    background-color: #ff0000;
}

body {
    background: transparent;
}

.copyright {
    color: white;
    text-align: right;
}

body, input, button {
    font-family: 'Source Sans Pro', sans-serif;
}
.modalBox {
    /* some styles to position the modal at the center of the page */
    position: fixed;
    top: 5%;
    margin-left: 10%;
    width: 80%;
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 1em;
    font-size: 1.2em;
    /* needed styles for the overlay */
    z-index: 10; /* keep on top of other elements on the page */
    outline: 9999px solid rgba(0,0,0,0.5);
}
.modalBox-content {
    margin-left: 0.8em;
    margin-right: 0.8em;
}
.close-row {
    width: 100%;
    font-size: 1.5em;
    float: right;
    margin-bottom: 0.7em;
    border-bottom: 1px solid #acacac;
}
.close-btn {
    padding: 0.2em;
    float: right;
    cursor: pointer;
}
.plus-icon {
    margin-right: 0.5em;
    color: #ffffff;
    cursor: pointer;
}
.plus-icon:link {
    color: #ffffff;
}
.plus-icon:hover {
    color: #ffffff;
}
.plus-icon:focus {
    color: #ffffff;
}
.plus-icon:visited {
    color: #ffffff;
}
.intestation {
    font-weight: bold;
}

.booking {
    padding: 15px;
    width: 90%;
    min-height: 400px;
    margin: 2% auto 0 auto;
}
.booking .heading {
    text-align: center;
    margin-top: 1%;
}
.information {
    font-size: 1.5em;
    padding: 0.2em;
}
.positive {
    color: #00ff27;
}
.error {
    color: #ff0000;
}
.booking .heading h2 {
    font-size: 3em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    padding-bottom: 5px;
    text-shadow: 1px 1px 3px #23203b;
}
.booking-table thead {
    color: #ffffff;
}
.booking-table th {
    border-left: 1px solid #ffffff;
}
.booking-table th:first-child {
    border-left: 0px;
}
.booking-table td {
    text-align: center;
    color: #ffffff;
    border-left: 1px solid #ffffff;
}
.booking-table td:first-child {
    border-left: 0px;
    text-align: left;
}
.btn {
    margin-top: 20px;
    background: #27AE60;
    border: none;
    font-size: 1.6em;
    font-weight: 300;
    padding: 5px 0;
    width: 100%;
    border-radius: 3px;
    color: #b3eecc;
    border-bottom: 4px solid #1e8449;
}
.btn:hover {
    background: #30b166;
    -webkit-animation: hop 1s;
    animation: hop 1s;
}
.btn-disable {
    margin-top: 20px;
    background: #ea4848;
    border: none;
    font-size: 1.6em;
    font-weight: 300;
    padding: 5px 0;
    width: 100%;
    border-radius: 3px;
    color: #ffffff;
    border-bottom: 4px solid #ae2727;
    cursor: not-allowed;
}
.btn-logout {
    float: right;
    margin-top: 20px;
    background: #27AE60;
    border: none;
    font-size: 1.6em;
    font-weight: 300;
    padding: 5px 0;
    width: 20%;
    min-width: 10em;
    border-radius: 3px;
    color: #b3eecc;
    border-bottom: 4px solid #1e8449;
}
.btn-logout:hover {
    background: #30b166;
    -webkit-animation: hop 1s;
    animation: hop 1s;
}
.float {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
}


.float:hover, .float:focus, .float:active {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
    .booking {
        width: 90%;
        font-size: 2em;
    }
}
@media only screen and (max-width: 1100px) {
    .booking {
        margin-top: 2%;
        width: 90%;
        font-size: 1.7em;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .booking {
        margin-top: 1%;
        width: 90%;
        font-size: 1.7em;
        min-height: 0;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .booking {
        margin-top: 0;
        width: 90%;
        font-size: 1.3em;
        min-height: 0;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .booking {
        margin-top: 0;
        width: 90%;
        font-size: 1em;
        min-height: 0;
    }
    .booking h2 {
        margin-top: 0;
    }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    .booking {
        margin-top: 0;
        width: 90%;
        font-size: 0.7em;
        min-height: 0;
    }
}