@import url(SourceSansPro.css);
@import url(bootstrap.min.css);
@import url(font-awesome.min.css);
* {
    margin: 0;
    padding: 0;
}

html {
    background: url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background: transparent;
}

body, input, button {
    font-family: 'Source Sans Pro', sans-serif;
}

.close {
    padding: 15px;
    width: 90%;
    min-height: 400px;
    margin: 2% auto 0 auto;
}
.close .heading {
    text-align: center;
    margin-top: 1%;
}

.close .heading h2 {
    font-size: 3em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    padding-bottom: 5px;
    text-shadow: 1px 1px 3px #23203b;
}
.close .heading h1 {
    font-size: 5em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    padding-bottom: 5px;
    text-shadow: 1px 1px 3px #23203b;
}
.gif-dynamic {
    max-width: 95%;
    width: 20em;
    max-height: 18em;
}
.close .heading p {
    color: #ffffff;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
    .close {
        width: 90%;
        font-size: 2em;
    }
}
@media only screen and (max-width: 1100px) {
    .close {
        margin-top: 2%;
        width: 90%;
        font-size: 1.7em;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .close {
        margin-top: 1%;
        width: 90%;
        font-size: 1.7em;
        min-height: 0;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .close {
        margin-top: 0;
        width: 90%;
        font-size: 1.3em;
        min-height: 0;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .close {
        margin-top: 0;
        width: 90%;
        font-size: 1em;
        min-height: 0;
    }
    .close h2 {
        margin-top: 0;
    }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    .close {
        margin-top: 0;
        width: 90%;
        font-size: 0.7em;
        min-height: 0;
    }
}