@import url(SourceSansPro.css);
@import url(bootstrap.min.css);
@import url(font-awesome.min.css);
* {
    margin: 0;
    padding: 0;
}

html {
    background: url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background: transparent;
}

body, input, button {
    font-family: 'Source Sans Pro', sans-serif;
}

.laboratorio-time {
    padding: 15px;
    width: 90%;
    min-height: 400px;
    margin: 2% auto 0 auto;
}
.laboratorio-time .heading {
    text-align: center;
    margin-top: 1%;
}
.information {
    font-size: 1.5em;
    padding: 0.2em;
}
.positive {
    color: #00ff27;
}
.error {
    color: #ff0000;
}
.laboratorio-time .heading h2 {
    font-size: 3em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    padding-bottom: 5px;
    text-shadow: 1px 1px 3px #23203b;
}
.turni {
    padding-top: 0.3em;
    font-size: 1.1em;
    color: #ffffff;
    text-align: left;
}
.turn-select {
    background-color: #ffffff !important;
    color: #000000 !important;
}
.intestation {
    font-weight: bold;
}
.data-element {
    font-size: 1.1em;
}
.turn {
    border: 1px solid #ffffff;
    background-color: rgba(255, 255, 255, 0);
    padding: 0.3em;
    margin: 0.3em;
}
.data {
    text-align: left;
    color: #ffffff;
    border-top: 1px solid #ffffff;
}
.data:last-of-type {
    border-bottom: 1px solid #ffffff;
}
.detailLaboratorio thead {
    color: #ffffff;
}
.detailLaboratorio tr {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
.detailLaboratorio td {
    text-align: left;
    color: #ffffff;
}
.detailLaboratorio td:first-child {
    font-weight: bold;
}
.btn {
    margin-top: 20px;
    background: #27AE60;
    border: none;
    font-size: 1.6em;
    font-weight: 300;
    padding: 5px 0;
    width: 100%;
    border-radius: 3px;
    color: #b3eecc;
    border-bottom: 4px solid #1e8449;
}
.btn:hover {
    background: #30b166;
    -webkit-animation: hop 1s;
    animation: hop 1s;
}
.btn-disable {
    margin-top: 20px;
    background: #ea4848;
    border: none;
    font-size: 1.6em;
    font-weight: 300;
    padding: 5px 0;
    width: 100%;
    border-radius: 3px;
    color: #ffffff;
    border-bottom: 4px solid #ae2727;
    cursor: not-allowed;
}
.btn-logout {
    float: right;
    margin-top: 20px;
    background: #27AE60;
    border: none;
    font-size: 1.6em;
    font-weight: 300;
    padding: 5px 0;
    width: 20%;
    min-width: 10em;
    border-radius: 3px;
    color: #b3eecc;
    border-bottom: 4px solid #1e8449;
}
.btn-logout:hover {
    background: #30b166;
    -webkit-animation: hop 1s;
    animation: hop 1s;
}
.float {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
}

.float:hover, .float:focus, .float:active {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}
.studentList {
    margin-top: 0.5em;
    text-align: left;
    font-size: 1.1em;
    color: #ffffff;
}
.studentList table {
    color: #ffffff;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
    .laboratorio-time {
        width: 90%;
        font-size: 2em;
    }
}
@media only screen and (max-width: 1100px) {
    .laboratorio-time {
        margin-top: 2%;
        width: 90%;
        font-size: 1.7em;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .laboratorio-time {
        margin-top: 1%;
        width: 90%;
        font-size: 1.7em;
        min-height: 0;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .laboratorio-time {
        margin-top: 0;
        width: 90%;
        font-size: 1.3em;
        min-height: 0;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .laboratorio-time {
        margin-top: 0;
        width: 90%;
        font-size: 1em;
        min-height: 0;
    }
    .laboratorio-time h2 {
        margin-top: 0;
    }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    .laboratorio-time {
        margin-top: 0;
        width: 90%;
        font-size: 0.7em;
        min-height: 0;
    }
}