div.informazioni-head {
    float: left;
    width: 35%;
    border-top: 1px solid #555555;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #555555;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: bold;
}
div.informazioni-body {
    width: 65%;
    float: right;
    border-top: 1px solid #555555;
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #555555;
    margin-top: 2px;
    margin-bottom: 2px;
}
table.student-list {
    display: inline-block;
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}
table.student-list tr {
    text-align: left;
    border-bottom: 1pt solid #888888;
}
table.student-list thead {
    border-bottom: 2pt solid #888888;
}
table.student-list tr:last-of-type {
    border-bottom: 0pt solid #888888;
}
table.student-list th {
    border-left: 1px solid #888888;
}
table.student-list th:first-of-type {
    border-left: 0px solid #888888;
}
table.student-list td {
    border-left: 1px solid #888888;
}
table.student-list td:first-of-type {
    border-left: 0px solid #888888;
}
div.lab-print {
    margin-bottom: 20px;
}
@media print {
    div.lab-print {
        page-break-after: always;
    }
}